*{
    margin : 0;
    padding: 0;
}

body {
    background: rgb(76, 75, 75);
}

/* Navbar utama */
.navbar {
  background: rgb(58, 58, 58);
  width: 100%;
  padding: 15px 0 ;
  position: sticky;
  z-index: 999999;
  top: 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:relative;
  z-index: 9999;
}

/* Logo */
.logo {
  color: yellowgreen;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu Desktop */
.nav-menu {
  display: flex;
  gap: 60px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: 0.2s;
}

.nav-menu a:hover {
  color: yellowgreen;
  background-color: #464747;
  border-radius: 5px;
}

/* Checkbox disembunyikan */
.menu-toggle {
  display: none;
  position: relative;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  margin: 10px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 2px;
}


.services {
  padding : 20px;
  background: rgb(76, 75, 75);
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
  height: 80%;
  z-index: 1;
}


.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 !important;
  box-sizing: border-box;
}
    
.services-head {
  text-align: center;
  margin-bottom: 35px;
}

.services-head h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 12px;
}

.services-head p {
  max-width: 650px;
  margin: auto;
  font-size: 16px;
  color: #cbd5e1;
  line-height: 1.6;
}

/* ===== SERVICES HORIZONTAL ===== */
.services-row {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  padding-bottom: 12px;
  scroll-snap-type: x mandatory;
}

/* biar scrollnya halus */
.services-row::-webkit-scrollbar {
  height: 8px;
}

.services-row::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

/* Card */
.service-card {
  min-width: 280px; /* ini kunci agar tidak turun */
  max-width: 280px;
  flex: 0 0 auto;
  justify-content: space-between;
  background: whitesmoke;
  border: 2px solid yellowgreen;
  border-radius: 18px;
  padding: 40px 30px;
  transition: 0.3s ease;
  backdrop-filter: blur(8px);
  scroll-snap-align: start;
  margin : 3rem 1rem;
}

.service-card:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

div.service-icon {
  background-color: yellowgreen;
}

.service-icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  font-size: 24px;
  margin-bottom: 18px;
  background-color: rgba(255, 255, 255, 0.06);
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
  color: black;
}

.service-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  padding-top: 10px;
}

@media (max-width: 768px) {

  /* Hamburger muncul */
  .hamburger {
    display: flex;
  }

  /* Menu jadi turun */
  .nav-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: rgb(85, 84, 84);
    display: none;
    flex-direction: column;
    gap: 0;
  }

  .nav-menu a {
    padding: 15px 20px;
    border-top: 1px solid #222;
  }

  /* Kalau checkbox dicentang => menu tampil */
  .menu-toggle:checked ~ .nav-menu {
    display: flex;
  }
}

/*Tablet*/
@media (max-width: 992px) {
  .container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

.navbar-menu {
  top: 0;
  z-index: 99999;
  overflow: visible;
}

  .service-card{
    min-width: 450px;
  }
}

/* HP */
@media (max-width: 600px){

 .container {
      margin-top: 1rem;
    margin-bottom: -2rem;
     display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
  }

   section  .container .service-card{
    min-width: 12rem;
    max-width: 15px;
    width: 20px;
    align-items: center;
  }
    
  .services-head h2{
    font-size: 28px;
  }

  .services-head p{
    font-size: 14px;
  }

}

/* ===== DESKTOP: kesamping (scroll) ===== */
@media (min-width : 993px){
    
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  overflow-x: auto;
  margin: 0;
  padding-left: 50px;
}

/* Card desktop */
.service-card{
  flex: 0 0 auto;
  width: 280px;
  margin: 0; /* penting, jangan pakai margin besar */
}






